html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#start-screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

#skip-btn {
  font-family: 'Winky Rough', sans-serif;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  padding: 10px 20px;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
}

#skip-btn:hover {
  background-color: rgb(166, 67, 116);
}

#start-btn {
  font-family: 'Winky Rough', sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 20px;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 2.2rem;
  cursor: pointer;
}

#start-btn:hover {
  background-color: rgb(166, 67, 116);
}

#intro-video {
  position: relative;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* character select */

#character-select {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Winky Rough', sans-serif;
}

.character-wrapper {
  position: relative;
  top: 30%;
}

.character {
  display: inline-block;
  margin: 0 auto;
}

.character img {
  width: 250px;
  border-radius: 20px;
  display: block;
  margin-bottom: 0.5rem;
}

.purin-btn {
  font-family: 'Winky Rough', sans-serif;
  padding: 0.5rem 1.5rem;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.mame-btn {
  font-family: 'Winky Rough', sans-serif;
  padding: 0.5rem 1.5rem;
  background-color: rgb(233, 105, 255);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.character button:hover {
  background-color: rgb(255, 20, 184);
}

/* game design */
#affection-bar {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 2rem auto;
  top: 20%;
}

.heart-icon {
  width: 30px;
  height: auto;
  display: inline-block;
}

/* dialogue*/

#game-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../assets/bg1.jpeg');
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.dialogue-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 600px;
  z-index: 10;
}

.dialogue-box img {
  width: 100%;
  height: auto;
  display: block;
}

.dialogue-box img {
  width: 100%;
  height: auto;
  display: block;
}

.name-label {
  position: absolute;
  top: 28%;
  left: 20%;
  color: #ff69b4;
  font-family: 'Winky Rough', sans-serif;
  font-size: 1.5rem;
  z-index: 11;
}

/* btn */
#choices {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 5;
}

#choices button {
  font-family: 'Winky Rough', sans-serif;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

#choices button:hover {
  background-color: rgb(166, 67, 116);
}

#replay-btn {
  position: fixed;
  font-family: 'Winky Rough', sans-serif;
  bottom: 5%;
  left: 50%;
  max-width: 1000px;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  z-index: 5;
}

#replay-btn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  z-index: 100;
}

#replay-btn:hover {
  background-color: rgb(166, 67, 116);
}

/* @media (min-width: 480px) {
  #replay-btn {
    bottom: 15%;
  }


#skip-btn {
width: 50%;
}

#intro-video {
  position: relative;
  height: auto;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit:contain;
} */




@media (max-width: 600px) {
  #character-select {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Winky Rough', sans-serif;
    padding: 0 1rem;
  }

  .dialogue-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
  }
}
